* {
    padding: 0;
    margin: 0;
}
#welcome{
    background-color: #009998;
    text-align: center;
    font-size: 100px;
    color: red;
}
.content-l{

    position: relative;
    background-color: #000066;
    text-align: center;
    font-size: 100px;
    color: red;
}
.bg-load {
    position: relative;
    opacity: 1;
    background: -webkit-linear-gradient(-45deg, #fff, #FF0000);
    transition: all 1s linear;
}

.crile-load {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-animation: crile 1s linear 0s both;
    -o-animation: crile 1s linear 0s both;
    animation: crile 1s linear 0s both;
}

.content-load {
    position: relative;
    /*opacity: 0;*/
    /*display: none;*/
    opacity: 1;
    display: block;

    color: #4fc3ba;
    transition: all 1s linear;
}

.intro-direction {
    position: absolute;
   /*bottom: -20%;*/
    left: 50%;
    margin-left: -12px;
    /*background-color: #000000;*/
}

.intro-direction a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.mouse-icon {
    border: 2px solid #fff;
    border-radius: 16px;
    height: 40px;
    width: 24px;
    z-index: 10;
    opacity: .7;
    display: block;
    background-color: rgba(255, 255, 255, .5);
}

.mouse-icon .wheel {
    background-color: #f87f09 !important;
}

.mouse-icon .wheel {
    -webkit-animation-name: mouse-anim-drop;
    animation-name: mouse-anim-drop;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    position: relative;
    border-radius: 10px;
    width: 2px;
    height: 6px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes mouse-anim-drop {
    0% {
        top: 5px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}

@keyframes crile {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(2);
    }
}